altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
entrypoints
fonttools
gitdb
GitPython
idna
importlib-metadata
Jinja2
jsonschema
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
numpy-financial
scipy
pandas
plotly
setuptools

